dbconfig.php
templates_c/*
.sass-cache
*kdev4*
.git-ftp-include
.git-ftp-ignore

dev.tmp
prod.tmp
head-common.tpl
help-css.tpl
help-js.tpl
foot-common.tpl
noodle-css.tpl
noodle-js.tpl
export-css.tpl
s/g
s/g/*.css
s/g/*.js
s/g/*.gz
tmp/
