@import 'style-defs';

html{
    color: revert;
}

body{
    margin: revert;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #c0c0c0;
    padding: 2pt;
}

td.attendance-yes {
    color: black;
    background-color: $colYes;
} 

td.attendance-no {
    color: black;
    background-color: $colNo;
}
