/* colors */
$colYes: #80e080;
$colYesHover: #35AA47;
$colYesLight: #80e080;
$colYesHeader: #6bd27c;
$colYesText: #35AA47;
$colYesFrame: #185523;
$colMaybe: #F7CA18;
$colMaybeHeader: #fbda56;
$colMaybeText: #e87e04;
$colNo: #e08080;
$colNoHover: #D84A38;
$colNoText: #D84A38;
$colNoHeader: #f18273;
$colNoFrame: #74251c;

$colBlue1: #072C63;
$colBlue2: #214B75;

$colGrey1: #f0f0f0;
$colGrey2: #cdcdcd;
$colGrey3: #8d8d8d;

$colBG: #E5E5E5;

$colDelete: $colNo;

$colTableSep: #a0a0a0;

$colInputName: rgba(0, 0, 0, 0.70);

$autocompleteBG: #fff;
$autocompleteBorder: #ccc;
$autocompleteSuggestHighlight: black;
$autocompleteSelectBG: rgb(83,109,254); /* material design indigo */
$autocompleteSelectText: rgb(164, 182, 255);
$autocompleteSelectHighlight: white;

$colImportantBG: #ffffee;

$colAdminEven: #f0f0f0;
$colAdminNew: white;

$cardBG: white;

@if $dark-theme {
    $colYes: #35b556;
    $colYesHover: #89e797;
    $colYesLight: #4d9b4d;
    $colYesText: #38b34b;
    $colNo: #c04c4c;
    $colNoHover: #db8d83;
    $colNoText: #b33d2e;

    $colBlue1: #3a84ce;
    $colBlue2: #083475;

    $colGrey1: #202020;
    $colGrey2: #303030;

    $colBG: #353535;
    
    $colTableSep: #404040;

    $colInputName: rgba(255, 255, 255, 0.70);

    $autocompleteBG: #000;
    $autocompleteBorder: #444;
    $autocompleteSuggestHighlight: white;
    $autocompleteSelectBG: #212b65;
    $autocompleteSelectText: #525b80;
    $autocompleteSelectHighlight: white;

    $colImportantBG: #95952a;

    $colAdminEven: #222;
    $colAdminNew: black;

    $cardBG: #111;
}
