/* colors */
$colYes: #80e080;
$colYesHover: #35AA47;
$colYesLight: #80e080;
$colYesHeader: #6bd27c;
$colYesText: #35AA47;
$colYesFrame: #185523;
$colMaybe: #F7CA18;
$colMaybeHeader: #fbda56;
$colMaybeText: #e87e04;
$colNo: #e08080;
$colNoHover: #D84A38;
$colNoText: #D84A38;
$colNoHeader: #f18273;
$colNoFrame: #74251c;

$colBlue1: #072C63;
$colBlue2: #214B75;

$colGrey1: #f0f0f0;
$colGrey2: #cdcdcd;
$colGrey3: #8d8d8d;

$colBG: #E5E5E5;

$colDelete: $colNo;

$colTableSep: #a0a0a0;

